/* Set base font size */
html {
  font-size: 100%; /* This is equivalent to 16px in most browsers */
}

/* Set font sizes for headings and paragraphs using rem units */
body {
  font-family: Arial, sans-serif; /* Use a web-safe font */
  line-height: 1.6; /* Good for readability */
  color: var(--flexoki-200); /* Default text color for readability */
}

h1 {
  font-size: 2.25rem; /* 36px if base is 16px */
  margin-bottom: 0.5rem;
  font-family: "Major Mono Display", monospace;
  font-weight: 400;
  font-style: normal;
  color: var(--flexoki-200);
}

#placeholder {
    font-size: 3rem;
}

h2 {
  font-size: 1.75rem; /* 28px if base is 16px */
  margin-bottom: 0.75rem;
}

h3 {
  font-size: 1.5rem; /* 24px if base is 16px */
  margin-bottom: 1rem;
}

h4 {
  font-size: 1.25rem; /* 20px if base is 16px */
  margin-bottom: 1.25rem;
}

h5 {
  font-size: 1rem; /* 16px if base is 16px */
  margin-bottom: 1.5rem;
}

h6 {
  font-size: 0.875rem; /* 14px if base is 16px */
  margin-bottom: 1.75rem;
}

p {
  font-size: 1rem; /* 16px for paragraph is standard and readable */
  margin-bottom: 1rem; /* Provide consistent spacing below paragraphs */
}

/* Site implementation of colour palette */

#primary-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--flexoki-black);
  width: 100vw;
  height: 100vh;
}

#central-content {
  margin: 0 auto;

}

/* Text effects */

/* Typewriter effect 1 */
@keyframes typing {
  0.0000%, 27.3488% { content: ""; }
  1.1395%, 26.2093% { content: "C"; }
  2.2791%, 25.0698% { content: "Ch"; }
  3.4186%, 23.9302% { content: "Cha"; }
  4.5581%, 22.7907% { content: "Chan"; }
  5.6977%, 21.6512% { content: "Chang"; }
  6.8372%, 20.5116% { content: "Change"; }
  /* 7.9767%, 19.3721% { content: ""; }
  9.1163%, 18.2326% { content: ""; }
  10.2558%, 17.0930% { content: ""; } */

  30.7674%, 51.2791% { content: ""; }
  31.9070%, 50.1395% { content: "V"; }
  33.0465%, 49.0000% { content: "Vi"; }
  34.1860%, 47.8605% { content: "Vis"; }
  35.3256%, 46.7209% { content: "Visi"; }
  36.4651%, 45.5814% { content: "Visio"; }
  37.6047%, 44.4419% { content: "Vision"; }

  54.6977%, 75.2093% { content: ""; }
  55.8372%, 74.0698% { content: "T"; }
  56.9767%, 72.9302% { content: "Tw"; }
  58.1163%, 71.7907% { content: "Two";}
  60.3953%, 69.5116% { content: "Two."; }
  /* 61.5349%, 68.3721% { content: ""; }  */

}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.typewriter {
  --caret: var(--flexoki-cyan-600);
}

.typewriter::before {
  content: "";
  animation: typing 13.5s infinite;
}

.typewriter::after {
  content: "";
  /* border-right: 1px solid var(--caret); */
  animation: blink 0.5s linear infinite;
}

.typewriter.thick::after {
  border-right: 1ch solid var(--caret);
}

/* .typewriter.nocaret::after {
  border-right: 0;
} */


@media (prefers-reduced-motion) {
  .typewriter::after {
    animation: none;
  }
  
  @keyframes sequencePopup {
    0%, 100% { content: "Change"; }
    25% { content: "Vision"; }
    50% { content: "Two"; }
  }

  .typewriter::before {
    content: "Engine Of";
    animation: sequencePopup 12s linear infinite;
  }
}

